[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/portaudio"]
	path = vendor/portaudio
	url = https://github.com/portaudio/portaudio
[submodule "vendor/libsndfile"]
	path = vendor/libsndfile
	url = https://github.com/libsndfile/libsndfile
